.App {
  text-align: center;
  display: flex;
  padding: 20px 0;
  justify-content: space-around;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button{
  color: black;
  padding: 10px;
  background-color: transparent;
  border-radius: 10px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}
